/*////////////// Fonts //////////////*/

@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville.ttc');
}


/*////////// Global Styles //////////*/

header {
  font: normal 80px 'Baskerville', cursive;
  color: rgb(111, 127, 122);
}

.subheader {
  font: normal 32px 'Times New Roman', cursive;
  color: rgb(111, 127, 122);
}

#turquoise img{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(111, 127, 122);
}

.flex-container img{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(204, 204, 204);
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	align-content: stretch;
  padding: 1px;
}



footer {
	clear: both;
}
