/*////////////// Fonts //////////////*/

@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville.ttc');
}


/*////////// Global Styles //////////*/

.header {
  font: normal 0.75em/1.5em 'Baskerville', cursive;
}

.subheader {
  font: normal 0.75em/1.5em 'Baskerville', cursive;
  color: #111127122;
}


.flex-container {
  display: flex;
  flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	align-content: stretch;
}



footer {
	clear: both;
}
