/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

.flex-container {
  display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: row;
	width: 100%;
	align-content: stretch;
}

footer {
	clear: both;
}
