/*////////////// Fonts //////////////*/

<style>
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
</style>

/*////////// Global Styles //////////*/

.header {
  font: Libre Baskerville;
}


.flex-container {
  display: flex;
  flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	align-content: stretch;
}



footer {
	clear: both;
}
